<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392007810386-4jlu0mt8ofv7bh1dtn4nkqdpdmlorntf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392007810386-4jlu0mt8ofv7bh1dtn4nkqdpdmlorntf</string>
	<key>API_KEY</key>
	<string>AIzaSyBxrLKvN0malWjJz42Gi8TWXcvQ3o8QMhk</string>
	<key>GCM_SENDER_ID</key>
	<string>392007810386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.2709.daichi.shun.English</string>
	<key>PROJECT_ID</key>
	<string>englishword-26878</string>
	<key>STORAGE_BUCKET</key>
	<string>englishword-26878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392007810386:ios:478add89c92c356ffd0e8b</string>
</dict>
</plist>